<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Draw Picture on Canvas</title>

</head>

<body>
    <div style="position: relative;width: 960px; height: 540px;">
        <video src="{{video}}" style="
        
        
        position: absolute;
        opacity: 0.5;"></video>
        <canvas onmouseover="" onclick="createPoint()" id="myCanvas"
            style="position: absolute;z-index: 10;width: 960px;height: 540px;"></canvas>
    </div>
    <div>
        <button id="clearPoint" onclick="clearPoint()">clear</button>
    </div>
    <button onclick="submit('point1')">set loop1</button>
    <button onclick="submit('point2')">set loop2</button>
    <button onclick="submit('point3')">set loop3</button>
    <button onclick="submit('point4')">set loop4</button>

    <form action="{% url 'mytasks:set_loop' id %}" method="post">
        {% csrf_token %}
        <input type="text" name="point1" id="">
        <input type="text" name="point1" id="">
        <input type="text" name="point1" id="">
        <input type="text" name="point1" id="">
        <input type="text" name="point2" id="">
        <input type="text" name="point2" id="">
        <input type="text" name="point2" id="">
        <input type="text" name="point2" id="">
        <input type="text" name="point3" id="">
        <input type="text" name="point3" id="">
        <input type="text" name="point3" id="">
        <input type="text" name="point3" id="">
        <input type="text" name="point4" id="">
        <input type="text" name="point4" id="">
        <input type="text" name="point4" id="">
        <input type="text" name="point4" id="">
        <input type="submit">
    </form>


    <script>
        var canvas = document.querySelector('canvas'),
            ctx = canvas.getContext('2d');
        fitToContainer(canvas);

        // ctx.fillStyle = 'yellow';
        // for (var i = 0; i < 5; ++i) ctx.fillRect(i * 18 + 2, 2, 16, 16);

        function fitToContainer(canvas) {
            canvas.style.width = '100%';
            canvas.style.height = '100%';
            canvas.width = canvas.offsetWidth;
            canvas.height = canvas.offsetHeight;
        }
        var canvas = document.getElementById("myCanvas");
        var ctx = canvas.getContext("2d");
        var points = []
        var loop = []
        var img = new Image();

        // img.src = "./licensed-image.jpeg";

        // img.onload = function () {
        //   ctx.drawImage(img, 0, 0);
        // };
        function createPoint() {
            if (points.length == 4) return;
            var x = event.clientX - canvas.offsetLeft - 8;
            var y = event.clientY - canvas.offsetTop - 8;
            points.push([x, y]);
            console.log(points);
            console.log("Clicked at (" + x + ", " + y + ")");
            ctx.fillStyle = "red"
            ctx.fillRect(x, y, 5, 5);
            if (points.length > 1) {
                ctx.beginPath();
                ctx.strokeStyle = "green";

                ctx.moveTo(points[points.length - 2][0], points[points.length - 2][1]);
                ctx.lineTo(points[points.length - 1][0], points[points.length - 1][1]);


                ctx.stroke();

            }
            if (points.length == 4) {
                ctx.beginPath();
                ctx.strokeStyle = "green";
                ctx.moveTo(points[0][0], points[0][1])
                ctx.lineTo(points[points.length - 1][0], points[points.length - 1][1]);
                ctx.stroke();
            }
        }

        function clearPoint() {
            points = []
            // ctx.drawImage(img, 0, 0);
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            console.log(points);

        }
        function submit(point) {
            var fill = document.getElementsByName(point);
            if (points.length == 4 && loop.length != 4) {
                loop.push(points)
                console.log(loop);
            }

            console.log(loop);
            for (var i = 0; i < fill.length; i++) {
                fill[i].value = points[i];
            }
            clearPoint()
        }
        



    </script>

</body>

</html>