<!DOCTYPE html>
<html>
<head>
	<title>Upload Video</title>
	<style>
		table, th, td {
			border: 1px solid black;
			border-collapse: collapse;
			padding: .5em;
		}
	</style>
</head>
<body>
	<h1>Upload Video</h1>
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<label for="video">Video:</label>
		<input type="file" name="video" id="video">
		<input type="submit" value="Upload">
		
	</form>
	
	<button><a href="{% url 'mytasks:task' %}"> Task List </a></button>

	<h2> Task list </h2>
	<table>
		<thead>
			<tr>
				<th>Original Video</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			{% for i in count %}
				<tr>
					<td>
						<video width="320" height="240" controls>
							<source src="{{ MEDIA_URL }}/videos_uploaded/{{ i }}"  type="video/mp4">
						</video><br>
					</td>

					<td>
						{% if i not in name_track and upload_success%}
							<button><a href="{% url 'mytasks:videoDetect' video.id %}"> detect </a></button>
						{% endif %}

						{% if i in name_track %}
							<p style="color: green">finish!</p>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
</html>