{% extends 'users/layout1.html' %} {% load static %} {% block body %}

<div class="wrapper">
	<div class="image-holder1">
		<img src={% static 'temsignup/images/2.jpg' %} alt="">
	</div>
	<div class="form-inner1">
		<form method="POST" action="{% url 'users:login' %}" class="register-form" id="login-form">
			{% csrf_token %}
			<div class="form-header">
				<h3 style="font-family: 'Quicksand', sans-serif;">Log In</h3>
				<img src={% static 'temsignup/images/sign-up.png' %} alt="" class="sign-up-icon">
			</div>

			<div class="form-group">
				<label for="username">Username:</label>
				<input type="text" class="form-control" id="your_name" name="username">
			</div>
			<div class="form-group" >
				<label for="password">Password:</label>
				<input type="password" class="form-control" id="your_pass" name="password">
			</div>
			{% if message %}
        		<div align="center" style="color: red">{{ message }}</div>
        	{% endif %}

			<input class="button1" type="submit" value="Log In"><br>
		</form>

		<button onclick=location.href="{% url 'users:signup' %}" type="button">Create an account</button>
	</div>
	
</div>

{% endblock %}
